polkit.addRule(function(action, subject) {
  if (subject.user === "ox" && action.id === "io.calamares.calamares.pkexec.run") {
    return polkit.Result.YES;
  }
});
