[Desktop Entry]
Type=Application
Version=1.0
Name=Install OXSystemsOS
Comment=Open the OXSystemsOS installer
Exec=bash /usr/local/bin/ox-live-installer
Icon=oxsystemsos-logo
Terminal=false
Categories=System;Settings;
Keywords=installer;install;oxsystemsos;
