[Desktop Entry]
Type=Application
Version=1.0
Name=Install OXSystemsOS
Comment=Open the OXSystemsOS installer
Exec=/usr/local/bin/ox-live-installer
Icon=system-software-install
Terminal=false
Categories=System;Settings;
Keywords=installer;install;oxsystemsos;
